<div class="main">
  <h1>Downloader</h1>
  <input type="text" class="search form-control" placeholder="Search..." (input)="search()" [(ngModel)]="searchValue"/>
  <div>
    <app-items [hidden]="downloadPage" class="items"></app-items>
    <app-downloads [hidden]="!downloadPage" ></app-downloads>
  </div>
  <div class="mt-5">
    <button (click)="downloadPage = !downloadPage" class="btn btn-primary fixed-bottom m-1">{{ downloadPage ? 'Movies' : 'Downloads' }}</button>
  </div>
</div>

