<div *ngFor="let download of downloads">
  <div class="card border-0 d-flex mt-2 mx-2">
    <div class="card-body">
      <h4>
        {{download.title}} - {{download.size}}
      </h4>
      <span class="badge rounded-pill {{getColor(download.status)}}">{{download.status}}</span>
    </div>
    <div class="progress">
      <div class="progress-bar bg-primary" role="progressbar" [style.width]="download.progress + '%'" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
