
<div class="card" *ngIf="item">
  <img [src]="item.image" alt="image"/>
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.quality}}</p>
    <p class="card-text">{{item.year}}</p>
    <p class="card-text">{{item.language}}</p>
    <button class="btn btn-primary" (click)="download()">Download</button>
  </div>
</div>
