.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min-content;
  padding: 0em 2em;
  margin: 1em;
}


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .card {
    width: 90vw;
  }
}
